@font-face {
    font-family: 'STIHLCONTRAFACEDISPLAYTITLING';
    src: url('../fonts/STIHLCONTRAFACEDISPLAYTITLING.TTF') format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;    
}

@font-face {
    font-family: 'STIHLCONTRAFACETEXT-BOLD';
    src: url('../fonts/STIHLCONTRAFACETEXT-BOLD.TTF') format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;    
}

@font-face {
    font-family: 'STIHLCONTRAFACETEXT';
    src: url('../fonts/STIHLCONTRAFACETEXT.TTF') format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;    
}

